option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app:app"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache


container_commands:
  01_initdb:
    command: "source /var/app/env/*/bin/activate && python manage.py migrate"
    leader_only: true